modules = ["nodejs-20"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 19456
externalPort = 3000

[[ports]]
localPort = 21045
externalPort = 80

[nix]
channel = "stable-25_05"
